<div>
    <app-nav></app-nav>
</div>
<div class="text-center" style="font-size:x-large;">
    <h1 class="display-4 text-center"><span><b>Good food = Great day!</b></span></h1>
    <br>

    <div class="card text-bg-warning text-center mb-3 mx-auto" style="max-width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">Relish a delightful gastronomical experience. </h5>
    </div>
    </div>
    <div class="card text-bg-success text-center mb-3 mx-auto" style="max-width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">Enjoy scrumptious meals at Wonderla.</h5>
    </div>
    </div>

    <p class="text-center fs-3" style="text-align:justify;"> Hunger pangs after a day of endless fun and relentless activities? Worry not, because Capg Amusement Park has a world of culinary treats that you could wish for! We've got amazing restaurants that serve everything from continental dishes to international favourites, including desserts of all kinds and smoothies and shakes to beat the heat. The thoughtfully-curated All Day Meal plan also means that you can just opt-in and forget about the rest. When you feel like it, you can just visit the restaurant and you will be served piping hot breakfast, lunch, snacks or dinner within minutes!</p>

    <br>
    <br>

<div class="row">
    <div class="col-lg-6 col-md-6 col-12 py-lg-0 py-3 order-sm-1">
        <img src="https://online.visual-paradigm.com/repository/images/f8750457-b7b6-48e0-a790-9bbb51f6e0bc/menus-design/chetto-restaurant-menu.png"
            class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-6 col-12 py-lg-0 py-3 order-sm-1">
        <img src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F657364%2Fmenu%2Fmenu01538046030170.jpg"
            class="img-fluid">
    </div>
</div>

<br>
<br>

 <!-- footer -->
 <footer  style="background-color: #D0EAE6;">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 text-center text-md-left ">
                
                <div class="py-0">
                    <h3 class="my-4 text-dark">About<span class="mx-2 font-italic text-success "><b>Capg Park</b></span></h3>
                    <p class="text-danger my-2" ><b>The Largest Amusement Park In India</b></p>
                    <p class="footer-links font-weight-bold">
                        <button class="btn btn-primary btn-lg"><a class="text-light" href="/customer/home">Home</a></button>
                    </p>
                    <p class="text-dark py-4 mb-4">&copy;<b>2022 Capg Batch 2 Group 1</b></p>
                </div>
            </div>
            
            <div class="col-md-6 text-dark my-4 text-center text-md-left ">
                <div class="py-2">
                    <h3>Project Done by</h3>
                    <h5>1.Ankur Parasar <br>
                    2.AKASH TIWARI <br>
                    3.Kayalvizhi R <br>
                    4.Chethan B R <br>
                    5.Vinay C <br>
                    6.Priyusha</h5>
                </div>
            </div>
        </div>  
    </div>
  </footer>